td {
    border: 2px solid black;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table tr td:first-child {
    text-align: center;
}

table tr td:last-child {
    text-align: right;
}

#reserv {
	float: right;
}
.items {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.item {
	width: 33%;
	text-align: center;
}

#affimg {
    text-align: center;
}